extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main
    .container.my-3 
      .row
        .col-12
          +box-head("Danh sách sản phẩm")

    .row
      .col-4.mb-3
        .product-item
          .inner-image
            img(src="https://genk.mediacdn.vn/2019/12/7/photo-1-15756898859271520501552.jpeg", alt="iPhone 9")
          .inner-content
            h3.inner-title iPhone 9
            .inner-price-new 80$
            .inner-price-old 100$
            .inner-discount -20%
              
              
          